<h1>Mockup Json Generator</h1>
<section class="outer-wrapper">
  <form [formGroup]="inputParentForm">
    <div formArrayName="objectsFormArray">
      <button mat-raised-button (click)="addObject()" color="primary">Add Object</button>
      <div *ngFor="let object of objects().controls; let i=index">
        <div [formGroupName]="i">
          <mat-card>
            <section>
              <div>Add Object</div>
              <mat-form-field>
                <mat-label>Object Name</mat-label>
                <input matInput type="text" formControlName="objectNameCtrl">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Data Types</mat-label>
                <mat-select formControlName="objectDataTypeCtrl">
                  <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value">
                    {{dataType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </mat-card>
        </div>
      </div>
    </div>
    <div formArrayName="arrayFormArray">
      <button mat-raised-button (click)="addArray()" color="primary">Add <b>NEW Array</b></button>
      <div *ngFor="let object of primaryArrays().controls; let j=index">
        <div [formGroupName]="j">
          <mat-card>
            <div>Add Root-Level Array</div>
            <mat-form-field>
              <mat-label>Array Name</mat-label>
              <input matInput type="text" formControlName="arrayNameCtrl">
            </mat-form-field>
            <section>
              <button mat-raised-button (click)="addPrimaryArrayObjects(j)" color="primary">Add Object to
                Array</button>
              <div formArrayName="arrayObjectsFormArray">
                <div *ngFor="let object of primaryArrayObjects(j).controls; let k=index">
                  <div [formGroupName]="k">
                    <mat-card>
                      <mat-form-field>
                        <mat-label>Object Name</mat-label>
                        <input matInput type="text" formControlName="objectsCtrl">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>Data Types</mat-label>
                        <mat-select formControlName="objectDataTypeCtrl">
                          <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value">
                            {{dataType.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-card>
                  </div>
                </div>
              </div>
              <div formArrayName="dataArrays">
                <button mat-raised-button (click)="addNestedArray(j)" color="primary">Add <b>NESTED</b> Array</button>
                <div *ngFor="let object of nestedArrays(j).controls; let l=index">
                  <div [formGroupName]="l">
                    <mat-card>
                      <div>Add Nested Array</div>
                      <mat-form-field>
                        <mat-label>Array Name</mat-label>
                        <input matInput type="text" formControlName="arrayNameCtrl">
                      </mat-form-field>
                      <section>
                        <div formArrayName="arrayObjectsNestedFormArray">
                          <button mat-raised-button (click)="addNestedArrayObjects(j, l)" color="primary">Add Object to
                            <b>NESTED</b>
                            Array</button>
                          <div *ngFor="let object of nestedArrayObjects(j, l).controls; let m=index">
                            <div [formGroupName]="m">
                              <mat-card>
                                <mat-form-field>
                                  <mat-label>Object Name</mat-label>
                                  <input matInput type="text" formControlName="objectsCtrl">
                                </mat-form-field>
                                <mat-form-field>
                                  <mat-label>Data Types</mat-label>
                                  <mat-select formControlName="objectDataTypeCtrl">
                                    <mat-option *ngFor="let dataType of dataTypes" [value]="dataType.value">
                                      {{dataType.viewValue}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </mat-card>
                            </div>
                          </div>
                        </div>
                      </section>
                    </mat-card>
                  </div>
                </div>
              </div>
            </section>
          </mat-card>
        </div>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="createJson()">Create JSON</button>
  </form>
</section>
